* {
  box-sizing: border-box;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
} 

.box {
  /* background: url(./image.png) no-repeat left top ; */
  margin-top: 30px;
  border: 10px solid rgba(73, 25, 185, 0.63);
  box-shadow: 7px 7px 39px rgba(38, 0, 87, 0.25);
  border-radius: 5%;
  width: 650px;
  height: 850px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto;
  padding: 20px;   */
}

.header {
  width: 500px;
  height: 100px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 20px;
  color:rgb(51, 0, 94);
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.istj {
  color: rgb(165, 32, 218);

  font-size: 40px;
}

.bingo {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

table {
  /* margin-top: px; */
	/* border: 1px solid rgba(73, 25, 185, 0.63); */
  border-collapse: collapse;
  background-color: rgba(211, 180, 231, 0.308);
  border-radius: 5%;
}

td, th {
  width: 100px;
  height: 100px;
	/* border: 1px solid rgba(73, 25, 185, 0.719); */
  color: rgba(25, 11, 58, 0.801);  
}

.bingo th a:link{
      color:black;
      text-decoration:none;
      text-align:center;
      /* display:block; */
      /* 이걸 넣어서 세로 가운데 정렬이 안됐던 거였음 */
      /* 대신 블록 전체가 지정이 안됨. */
      width: 100px;
      height: 100px;
    }

.istj-table {
  background-color:#3c024477;
}

.bingo th a:hover {
      background-color:#3c024477;
      color:#fff;
    }


.footer {
  margin-top: 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 120px;
  height: 50px;
  background-color: rgba(100, 60, 138, 0.705);
  border: 1px solid purple;
  box-shadow: 7px 7px 39px rgba(38, 0, 87, 0.25);
  border-radius: 10px;
  color: white;
}


.retry {
  margin-right: 80px;
}